<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166816723197-23ppuggfcqbjs8jv8dqkcm7t268g5fds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166816723197-23ppuggfcqbjs8jv8dqkcm7t268g5fds</string>
	<key>API_KEY</key>
	<string>AIzaSyDZteO0JyFm_KlnsBEJDz4YVNDsexiKENU</string>
	<key>GCM_SENDER_ID</key>
	<string>166816723197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flutterly.co.uk.SpiceHome</string>
	<key>PROJECT_ID</key>
	<string>spicehome-flutterly</string>
	<key>STORAGE_BUCKET</key>
	<string>spicehome-flutterly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166816723197:ios:4ba3de89ded99942e88e94</string>
</dict>
</plist>